/.idea/
/base-mvn/.idea/

/app-baseerp/target/
/base-app/target/
/base-commons/target/
/base-service/target/
/base-model-core/target/
/service-user-oauth/target/
/infra-config-server/target/
/service-base-erp/target/
/util-factory-model/target/
/util-worflow/target/


##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*


##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar



##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
